@import './reset.css';

body {
  font-family: var(--body-font);
  font-size: var(--body-size);
  background-image: var(--primary-color);
  min-height: 100vh;
}

input {
  font-family: var(--body-font);
}

select {
  font-family: var(--body-font);
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
